*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(46, 0, 46);
  }
  .container{
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  /* day 1 style */
  .first{
    width: 400px;
    height: 300px;
    padding: 10px;
    background-color: #00B1D4;
  }
  .day1 {
    width: 80px;
    height: 80px;
    background: #FADE8B;
    border-radius: 50%;
    position: relative;
  }
  .day1::after{
    content: "";
    position: absolute;
    width: 48px;
    height: 248px;
    border-radius: 48px;
    border: 16px solid black;
  }
  .day1::before{
    content: "";
    position: absolute;
    width: 348px;
    height: 48px;
    border-radius: 48px;
    border: 16px solid black;
  }
  /* day 2 style */

  .second{
    width: 400px;
    height: 300px;
    background-color: #37A76F;
    position: relative;
  }
  .day2 {
    width: 40px;
    height: 300px;
    background-color: black;
    margin: 0 auto;
    
  }
  .day2_1{
    width: 400px;
    height: 40px;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    top: 130px;
  }
  .day2::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 40px solid black;
    top: 20px;
    left: 80px;
  }
  .day2::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 40px solid black;
    top: 140px;
  }

  /* day 3 css code start */

  .third{
    width: 400px;
    height: 300px;
    background-color: #243D83;
    padding: 50px 70px;
  }
  .day3_hero {
    width: 30px;
    height: 120px;
    background: #F0CD48;
    position: relative;
  }
  .day3_hero::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #F0CD48;
    bottom: -40px;
    left: -5px;
  }
  .day3_foo{
    transform: rotate(180deg);
    margin-top: 40px;
  }
  .day3{
    display: flex;
    justify-content: space-between;
  }
  .day3_bottom{
    width: 320px;
    height: 40px;
    background-color: #F0CD48;
    margin-left: -30px;
  }

  /* day 4 css code start */
  .fourth{
    width: 400px;
    height: 300px;
    background-color: hsl(224, 100%, 59%);
    padding: 50px 70px;
  }
  .day4_hero {
    width: 30px;
    height: 120px;
    background: #F0CD48;
    position: relative;
  }
  .day4_hero::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #F0CD48;
    top: 40px;
    left: -5px;
  }
  .day4{
    display: flex;
    justify-content: space-between;
  }
  .day4_bottom{
    width: 320px;
    height: 40px;
    background-color: #F0CD48;
    margin-left: -30px;
  }